{% extends 'core/base.html' %}
{% load static %}
{% block title %}
Borrar Pagina
{% endblock %}
{% block content %}
{% include 'pages/include/pages_menu.html' %}

<main role="main">
     <div class="container">
          <div class="row mt-3">
               <div class="col-md-9 mx-auto">
                    <div class="">
                         <form action="" method="post"> {% csrf_token %}
                              <p>
                                   Estas seguro de borrar "{{object}}" ?
                              </p>
                              <input type="submit" class='btn btn-primary btn-block' value="Si, borrar la pagina"> 

                         </form>
                    </div>
               </div>
          </div>
     </div>
</main>

{% endblock %}